:host{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.row{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
}

.messenger, .messages{
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
	overflow: hidden;
	padding: 2em;
}

.message-list{
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: auto; /* Allows scrolling when content overflows */
	scrollbar-width: none; /* For Firefox */
  	-ms-overflow-style: none; /* For Internet Explorer and older Edge */
}

.message{
	margin: 0 0 1em 0;
	list-style-type: none;
	width: 100%;
	height: auto;
	padding: 1em;
	border: 1px solid black;
	border-radius: 15px;
}

.message-header{
	font-size: .75em;
	font-weight: bold;
}

.message-content{
	padding: 1em 0 1em 0;
}

.message-footer{
	color: rgb(45%, 45%, 45%);
	font-size: .75em;
}

.messenger-form{
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.phone-number{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	padding-bottom: 1em;
	height: auto;
	width: 100%;
}

.new-message{
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	flex-wrap: wrap;
	border: 1px solid black;
	border-radius: 15px;
}

.new-message-inner{
	display: flex;
	padding: 1em;
	width: 100%;
	height: 100%;
	flex-direction: column;
}

.new-message-inner textarea{
	width: 100%;
	display: flex;
	resize: none;
	border: 0;
	flex-grow: 1;
	flex-direction: row;
}

.new-message-inner textarea:focus{
	outline: none;
}

.new-message-inner .send{
	height: fit-content;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.new-message-inner .send button{
	margin: 0;
	flex-direction: column;
}

.new-message-inner .send .messagelength{
	flex-direction: column;
	line-height: 3rem;
	vertical-align: center;
	font-size: .75em;
	color: rgb(45%, 45%, 45%);
}
