/* You can add global styles to this file, and also import other style files */
*{
	font-family: sans-serif;
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
	font-size: 16px;
}

main{
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
}

.content{
	position: relative;
	max-height: 100%;
	top: 50%;
	transform: translateY(-50%);
	width: fit-content;
	height: auto;
	margin: 0 auto;
	padding: 1rem;
}

button{
	background-color: white;
	border: 1px solid black;
	padding: 1em;
	border-radius: 15px;
	font-weight: bold;
	margin: 2em 0;
	display: block;
}

button:hover{
	cursor: pointer;
	background-color: black;
	color: white;
}

label {
	display: block;
	padding: 1em 0 1em 0;
	text-transform: uppercase;
	font-weight: bold;
	font-size: .75em;
}

input {
	width: 500px;
	max-width: 100%;
	padding: 1em;
	display: block;
	border-radius: 15px;
	border: 1px solid black;
}

a{
	color: black;
	text-decoration: none;
	text-underline-offset: .25em;
}

a:hover{
	text-decoration: underline;
}